.view {
  background: url('https://images.pexels.com/photos/1997484/pexels-photo-1997484.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat center center;
  background-size: cover;
}

html,
body,
header,
.view {
  height: 100vh;
}
.section {
  background-color: #f2395a;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.heading {
  margin-left: 20%;
}
.phone,
.tablet,
.desctop {
  background-color: #fff;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  transform: translateY(100%);
}
.section:hover .phone {
  transform: translateY(0) rotateY(-15%);
}
.phone {
  width: 200px;
  height: 280px;
  left: 5%;
  bottom: 0;
  background: #fff url('C:\Users\direg\3D Objects\mySite\img\phone.svg');
  z-index: 3;
}
.tablet {
  width: 360px;
  height: 380px;
  background: #fff;
  bottom: 0;
  left: 10%;
  z-index: 1;
}
.desctop {
  width: 680px;
  height: 480px;
  background: #fff url();
  bottom: 0;
  left: 15%;
}