.view {
  background-repeat: no-repeat center center;
  background-size: cover;
}

html,
body,
header,
.view {
  height: 100%;
}
#block1,
#block2,
#block3 {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5%;
  transition: .3s;
}
#block1:hover {
  box-shadow: 5px 5px 5px 5px rgba(3, 169, 244, 0.7);
}
#block2:hover {
  box-shadow: 5px 5px 5px 5px rgba(255, 152, 0, 0.7);
}
#block3:hover {
  box-shadow: 5px 5px 5px 5px rgba(76, 175, 80, 0.7);
}
.section {
  background-color: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 1000px;
}
.heading {
  padding: 10px;
  color: #fff;
  z-index: 4;
}
.phone,
.tablet,
.desctop {
  background-color: #f2395a;
  box-shadow: 10px 10px 32px 0 rgba(255, 255, 255, 0.3);
  border-radius: 5%;
  position: absolute;  
  height: 0;
}
.section:hover .phone { 
  height: 280px;
  transform: translateY(10px) rotateY(10deg);
}
.section:hover .tablet { 
  height: 180px;
  transform: translateY(10px) rotateY(10deg);
}
.section:hover .desctop { 
  height: 180px;
  transform: translateY(10px) rotateY(10deg);
}
  
.phone {
  width: 130px;
  
  left: 5%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7)  url(../img/phone.svg);
  background-repeat: no-repeat;  
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 3;
}
.tablet {
  width: 280px;
  
  background: rgba(0, 0, 0, 0.7) ;
  bottom: 0;
  left: 7%;
  -webkit-transition: .7s;
  transition: .7s;
  z-index: 1;
}
.desctop {
  width: 380px;
  
  background: rgba(0, 0, 0, 0.7) ;
  bottom: 0;
  left: 9%;
  -webkit-transition: .9s;
  transition: .9s;
}

@media (max-width: 768px) {
  .abc {
    display: none;
  }
  
}