.view {
  background: url("https://images.pexels.com/photos/1795707/pexels-photo-1795707.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")no-repeat center center;
  background-size: cover;
}

html,
body,
header,
.view {
  height: 100%;
}